<a href="https://colab.research.google.com/github/williamdwl/sdutoj/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import django
print(django.VERSION)

(2, 2, 6, 'final', 0)

In [11]:
!mysql -V

/bin/bash: mysql: command not found

In [10]:
!whereis mysql

mysql: /etc/mysql